/* Lenis需要使用的CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}

.loader-exit {
  animation: loader-exit 0.5s ease-in-out forwards;
}

@keyframes loader-exit {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1.2);
  }
}

.main_content{
  margin-top: 150px;
}

.custom-cursor {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
  will-change: transform;
}