@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-select {
  -webkit-user-select: none;
  /* 禁止文字选择 */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


body {
  @apply bg-white dark:bg-black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 阻止元素（尤其是图片）被拖拽 */
  -webkit-user-drag: none;
}

.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


html,
body {
  height: 100%;
  overflow: hidden;
}



// @font-face {
//   font-family: 'OPPOSans-B';
//   src: url('/assets/fonts/OPPOSans-B.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'OPPOSans-H';
//   src: url('/assets/fonts/OPPOSans-H.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'OPPOSans-L';
//   src: url('/assets/fonts/OPPOSans-L.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'OPPOSans-M';
//   src: url('/assets/fonts/OPPOSans-M.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'OPPOSans-R';
//   src: url('/assets/fonts/OPPOSans-R.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// body {
//   font-family: 'OPPOSans-R', sans-serif;
// }

.dark .lottie-color-swap svg {
  filter: invert(1);
}
